<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SIPEG</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/view.css}">
    <object th:include="home :: homecss" th:remove="tag"></object>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div th:replace="home :: navbar"></div>
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 th:text="'Pegawai Termuda dalam ' + ${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>NIP</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${pegawaiMuda.nip}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nama</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${pegawaiMuda.nama}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tempat Lahir</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${pegawaiMuda.tempatLahir}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tanggal Lahir</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${pegawaiMuda.tanggalLahir}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tahun Masuk</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${pegawaiMuda.tahunMasuk}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nama Instansi</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${pegawaiMuda.instansi.nama}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Jabatan</label>
                        </div>
                        <div class="col-md-6">
                            <div th:each="jab : *{pegawaiMuda.jabatanPegawai}">
                                <p th:text="${jab.jabatan.nama}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 th:text="'Pegawai Tertua dalam ' + ${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="row">
                        <div class="col-md-6">
                            <label>NIP</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${pegawaiTua.nip}"></p>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nama</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${pegawaiTua.nama}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Tempat Lahir</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${pegawaiTua.tempatLahir}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Tanggal Lahir</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${pegawaiTua.tanggalLahir}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Tahun Masuk</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="${pegawaiTua.tahunMasuk}"></p>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Nama Instansi</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${pegawaiTua.instansi.nama}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Jabatan</label>
                        </div>
                        <div class="col-md-6">
                            <div th:each="jab : *{pegawaiTua.jabatanPegawai}">
                                <p th:text="${jab.jabatan.nama}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
<script th:include="/fragments/fragment :: navibarjs" th:remove="tag"></script>
<script th:src="@{/js/search-filter.js}"></script>
<script type="text/javascript">
    $("#navibar").menumaker({
        title: "Menu",
        format: "multitoggle"
    });
</script>
</html>