<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SIPEG</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/view.css}">
    <object th:include="home :: homecss" th:remove="tag"></object>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div th:replace="home :: navbar"></div>
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-6">
            <div class="profile-head">
                <h2 th:text="'Jabatan '+ ${jabatan.nama} + ' sukses diubah!'"></h2>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nama</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${jabatan.nama}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Deskripsi</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${jabatan.deskripsi}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Gaji Pokok</label>
                        </div>
                        <div class="col-md-6">
                            <p th:text="${jabatan.gajiPokok}"></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:include="/fragments/fragment :: navibarjs" th:remove="tag"></script>
<script th:src="@{/js/search-filter.js}"></script>
<script type="text/javascript">
    $("#navibar").menumaker({
        title: "Menu",
        format: "multitoggle"
    });
</script>
</html>